<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.settings.UpcomingDatesActivity"
            android:exported="false" />
        <activity
            android:name=".views.FullScreenImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.FeedbackFormActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".views.settings.PreferenceSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".views.home.AddPromptActivity"
            android:exported="false" />
        <activity
            android:name=".views.registration.ProfileSetupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".views.chat.QRActivity"
            android:exported="false" />

        <service
            android:name=".services.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".views.chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".views.CropperActivity"
            android:exported="false" />
        <activity
            android:name=".views.prompt.PromptActivity"
            android:exported="false" />
        <activity
            android:name=".views.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.home.CheckAvailabilityActivity"
            android:exported="false" />
        <activity
            android:name=".views.settings.SafeDatingTipsActivity"
            android:exported="false" />
        <activity
            android:name=".views.settings.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".views.settings.AvailabilitySettingsActivity"
            android:exported="false" />
        <activity
            android:name=".views.settings.AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".views.settings.TermsOfUseActivity"
            android:exported="false" />
        <activity
            android:name=".views.settings.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".views.registration.CompleteProfileActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- <meta-data -->
        <!-- android:name="com.google.android.API_KEY" -->
        <!-- android:value="AIzaSyCZRJm_Xt287To1N4_ly2ExTZP8HyQskUk"/> -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZRJm_Xt287To1N4_ly2ExTZP8HyQskUk" />

        <activity
            android:name=".views.registration.RegistrationActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".views.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>